* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  background: #f4f4f4;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border: none;
}

.card {
  background: #fff;
  /* width: 300px; */
}

.header {
  background: crimson;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__content nav {
  display: flex;
}

.header__content nav li {
  list-style: none;
}

.header__content nav li:not(:last-child),
.manage button:not(:last-child),
.coords input,
.location .add {
  margin-right: 1rem;
}

.header__content nav li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

.header__content nav li button,
.manage button {
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.manage {
  background: crimson;
  padding: 1rem;
  text-align: center;
}

.location,
.category {
  height: 80vh;
  background: chartreuse;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
}

.location .form,
.category .form {
  display: flex;
  width: 60%;
  /* height: 100%; */
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.category button {
  margin-right: 1rem;
}

.location .form input,
.category .form input,
.coords input,
.location select,
.category select {
  height: 3.5rem;
  width: 100%;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.location .selectIndex,
.category .selectIndex {
  display: flex;
  width: 100%;
}

.location .selectIndex select,
.category .selectIndex select {
  width: 80%;
  margin-right: 1rem;
}

.location .selectIndex button {
  width: 50%;
  margin-right: 0;
}

.location .add,
.category .add {
  height: 3.5rem;
  padding: 1rem;
}

.coords {
  display: flex;
  width: 100%;
}

.allLocations {
  /* text-align: center; */
  display: grid;
  align-items: center;
  /* justify-content: center; */
  /* justify-items: center; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.allLocations .location-details {
  padding: 1rem;
}

.allLocations .location-details span {
  padding: 1rem;
  display: inline-block;
  color: #fff;
}

.allLocations .location-details div:not(:last-child) {
  margin-bottom: 1rem;
}

.allLocations .location-details .locName span {
  background: chocolate;
}

.allLocations .location-details .locCat span {
  background: cornflowerblue;
}

.allLocations .location-details .loc-lat span {
  background: cyan;
}

.allLocations .location-details .loc-lng span {
  background: darkorange;
}

.allLocations .location-details .loc-address span {
  background: orangered;
}

.catViews {
  background: #fff;
  width: 40rem;
  height: 73vh;
  margin: 3.5rem auto;
  text-align: center;
  overflow: auto;
}

.catViews div:not(:last-child) {
  margin-bottom: 1rem;
}

.catViews div {
  border-radius: 5px;
  padding: 0 0.5rem;
}

.catViews div p {
  padding: 1rem;
}

.catViews div:nth-child(odd) {
  border: 1px solid crimson;
}

.catViews div:nth-child(even) {
  border: 1px solid coral;
}
